body{
    background-image:url('Fondo3.jpg');
    background-size: 100%
}
#Pestañas{
    background-color: rgb(45, 32, 226);
    height: 50px;
    position: sticky;
    top: 0;
}
#Pestañas ul{
    float:middle;
}
#Pestañas ul a{
    color: rgb(255, 251, 0);
    font-family: 'Press Start 2P', cursive; 
    display: inline-block;
    padding: 10px;
    margin-left: 115px;
    text-decoration: none;
}
#Pestañas ul a:hover{
    background-color: rgb(64, 51, 245);
}

#Creame{
margin-top: 5px;
margin-left: 50px;
width:30%;
font-family: 'Press Start 2P', cursive;
display: inline-block;
padding: 5px;
background-color: yellow; 
border: 5px solid black;
}
#c1{
font-family: 'Press Start 2P', cursive;
display: inline-block;
padding: 5px;
background-color: yellow;
border: 1px solid black; 
}
#c2{
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    padding: 5px;
    background-color: yellow;
    border: 1px solid black; 
}
#c3{
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    padding: 5px;
    background-color: yellow;
    border: 1px solid black; 
}
#c4{
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    padding: 5px;
    background-color: yellow;
    border: 1px solid black; 
}
#c5{
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    padding: 5px;
    background-color: yellow;
    border: 1px solid black; 
}
#logeo{
    position: absolute;
    font-size: 25px;
    margin-left: 200px;
    margin-top: 200px;
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    background-color: yellow; 
    border: 5px solid black;
    padding: 50px;
    text-align: center;
}
a:link{
    color: rgb(0, 0, 0);
}
a:link:hover{
    color: rgb(77, 77, 77);
}
a:visited{
    color: rgb(255, 0, 0);  
}
a:visited:hover{
    color: rgb(94, 0, 0);   
}