body{
    background-image:url('Fondo3.jpg');
    background-size: 100%
}
#Pestañas{
    background-color: rgb(45, 32, 226);
    height: 50px;
    position: sticky;
    top: 0;
}
#Pestañas ul{
    float:middle;
}
#Pestañas ul a{
    color: rgb(255, 251, 0);
    font-family: 'Press Start 2P', cursive; 
    display: inline-block;
    padding: 10px;
    margin-left: 115px;
    text-decoration: none;
}
#Pestañas ul a:hover{
    background-color: rgb(64, 51, 245);
}

#logueo{
    margin-top: 100px;
    margin-left: 500px;
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    padding: 5px;
    background-color: yellow; 
    border: 5px solid black;
}
#logueo button{
    margin-left: 110px;
}
#crear{
    margin-top: 10px;
    margin-left: 514px;
    width: 350px;
    height: 100px;
    background-color: yellow; 
    border: 5px solid black;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
}
#crear a:link{
    color: rgb(0, 0, 0);
}
#crear a:link:hover{
    color: rgb(77, 77, 77);
}
#crear a:visited{
    color: rgb(255, 0, 0);  
}
#crear a:visited:hover{
    color: rgb(94, 0, 0);   
}