body{
    background-image:url('Fondo3.jpg');
    background-size: 100%
}
.container{
    max-width: 2712px;
    margin: 0 auto;
    overflow: auto;
}
#Pestañas{
    background-color: rgb(17, 0, 255);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
}
#Pestañas a{
    color: rgb(255, 251, 0);
    font-family: 'Press Start 2P', cursive; 
    text-align: center;
}
#Pestañas a:hover{
    background-color: rgb(11, 0, 170);
}
#Leaderboard{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: yellow; 
    border: 5px solid black;
    margin-top: 2%;
}
#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: yellow; 
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Press Start 2P', cursive; 
}
#section1 label{
    margin-top: 1%;
    text-align: center; 
}
#login{
    color: rgb(255, 251, 0);
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
}
#Links{
    color: rgb(255, 251, 0);
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#Cuenta{
    color: rgb(255, 251, 0);
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1%;
}
#Loggs{
    color: rgb(255, 251, 0);
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3%;
}
a:link {
    color: rgb(255, 251, 0);
  }
a:link:hover{
    color: rgb(239, 255, 98);
}
a:visited{
    color: red;
}
a:visited:hover{
    color: rgb(151, 0, 0);
}
@media (max-width: 319px){
    #Pestañas{
        font-size: 4vw;
        flex-direction: column;
        justify-content: center;
    }
    #section1 th{
        font-size: 4vw;
    }
    #section1 td{
        font-size: 5vw;
    }
    #section1 label{
        font-size: 6vw;
    }
    #login{
        font-size: 4vw;
    }
    #Links{
        font-size: 4vw;
    }
    #Cuenta{
        font-size: 4vw;
    }
    #Loggs{
        font-size: 4vw;
    }
}
@media (max-width: 374px) and (min-width: 320px){
    #Pestañas{
        font-size: 4vw;
        flex-direction: column;
        justify-content: center;
    }
    #section1 th{
        font-size: 4vw;
    }
    #section1 td{
        font-size: 5vw;
    }
    #section1 label{
        font-size: 6vw;
    }
    #login{
        font-size: 4vw;
    }
    #Links{
        font-size: 4vw;
    }
    #Cuenta{
        font-size: 4vw;
    }
    #Loggs{
        font-size: 4vw;
    }
}
@media (max-width: 424px) and (min-width: 375px){
    #Pestañas{
        font-size: 3vw;
        flex-direction: column;
        justify-content: center;
    }
    #section1 th{
        font-size: 4vw;
    }
    #section1 td{
        font-size: 4vw;
    }
    #section1 label{
        font-size: 5vw;
    }
    #login{
        font-size: 4vw;
    }
    #Links{
        font-size: 4vw;
    }
    #Cuenta{
        font-size: 4vw;
    }
    #Loggs{
        font-size: 4vw;
    }
}
@media (max-width: 767px) and (min-width: 425px){
    #Pestañas{
        font-size: 3vw;
        flex-direction: column;
        justify-content: center;
    }
    #Leaderboard{
        margin-right: 3%;
        margin-left: 3%;
    }
    #section1 th{
        font-size: 3vw;
    }
    #section1 td{
        font-size: 3vw;
    }
    #section1 label{
        font-size: 3vw;
    }
    #login{
        font-size: 3vw;
    }
    #Links{
        font-size: 3vw;
    }
    #Cuenta{
        font-size: 3vw;
    }
    #Loggs{
        font-size: 3vw;
    }
}
@media (max-width: 1023px) and (min-width: 768px){
    #Pestañas{
        font-size: 2vw;
        justify-content: space-evenly;
    }
    #Leaderboard{
        margin-right: 18%;
        margin-left: 18%;
    }
    #section1 th{
        font-size: 2vw;
    }
    #section1 td{
        font-size: 2vw;
    }
    #section1 label{
        font-size: 2vw;
    }
    #login{
        font-size: 2vw;
    }
    #Links{
        font-size: 2vw;
    }
    #Cuenta{
        font-size: 2vw;
    }
    #Loggs{
        font-size: 2vw;
    }
}
@media (max-width: 1124px) and (min-width: 1024px){
    #Pestañas{
        font-size: 2vw;
        justify-content: space-evenly;
    }
    #Leaderboard{
        margin-right: 19%;
        margin-left: 19%;
    }
    #section1 th{
        font-size: 2vw;
    }
    #section1 td{
        font-size: 2vw;
    }
    #section1 label{
        font-size: 2vw;
    }
    #login{
        font-size: 2vw;
    }
    #Links{
        font-size: 2vw;
    }
    #Cuenta{
        font-size: 2vw;
    }
    #Loggs{
        font-size: 2vw;
    }
}
@media (max-width: 1439px) and (min-width: 1125px){
    #Pestañas{
        font-size: 1.5vw;
        justify-content: space-evenly;
        padding: 10px;
    }
    #Leaderboard{
        margin-right: 27%;
        margin-left: 27%;
    }
    #section1 th{
        font-size: 1.5vw;
    }
    #section1 td{
        font-size: 1.5vw;
    }
    #section1 label{
        font-size: 1.5vw;
    }
    #login{
        font-size: 1.5vw;
    }
    #Links{
        font-size: 1.5vw;
    }
    #Cuenta{
        font-size: 1.5vw;
    }
    #Loggs{
        font-size: 1.5vw;
    }
}
@media (max-width: 2559px) and (min-width: 1440px){
    #Pestañas{
        font-size: 1.5vw;
        justify-content: space-evenly;
        padding: 10px;
    }
    #Leaderboard{
        margin-right: 27%;
        margin-left: 27%;
    }
    #section1 th{
        font-size: 1.5vw;
    }
    #section1 td{
        font-size: 1.5vw;
    }
    #section1 label{
        font-size: 1.5vw;
    }
    #login{
        font-size: 1.5vw;
    }
    #Links{
        font-size: 1.5vw;
    }
    #Cuenta{
        font-size: 1.5vw;
    }
    #Loggs{
        font-size: 1.5vw;
    }
}
@media (min-width: 2560px){
    #Pestañas{
        font-size: 1.5vw;
        justify-content: space-evenly;
        padding: 10px;
    }
    #Leaderboard{
        margin-right: 27%;
        margin-left: 27%;
    }
    #section1 th{
        font-size: 1.5vw;
    }
    #section1 td{
        font-size: 1.5vw;
    }
    #section1 label{
        font-size: 1.5vw;
    }
    #login{
        font-size: 1.5vw;
    }
    #Links{
        font-size: 1.5vw;
    }
    #Cuenta{
        font-size: 1.5vw;
    }
    #Loggs{
        font-size: 1.5vw;
    }
}