body{
    background-image:url('Fondo3.jpg');
    background-size: 100%
}
#Pestañas{
    background-color: rgb(17, 0, 255);
    height: 50px;
    position: sticky;
    top: 0;
}
#Pestañas ul{
    float:middle;
}
#Pestañas ul a{
    color: rgb(255, 251, 0);
    font-family: 'Press Start 2P', cursive; 
    display: inline-block;
    padding: 10px;
    margin-left: 80px;
    text-decoration: none;
}
#Pestañas ul a:hover{
    background-color: rgb(11, 0, 170);
}
#Leaderbroad{
    margin-left: 160px;
    margin-top: 15px;
    display: inline-block;
    background-color: yellow; 
    border: 5px solid black;
    width: 1000px;
    height: 620px;
    padding: 30px;
}
#section1 {
    display: inline-block;
    background-color: yellow; 
    border: 5px solid black;
    height:550px;
    width:300px;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
}
#section2 {
    display: inline-block;
    background-color: yellow; 
    border: 5px solid black;
    height:550px;
    width:300px;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
}
#section3 {
    display: inline-block;
    background-color: yellow; 
    border: 5px solid black;
    height:550px;
    width:300px;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
}
#login{
    color: rgb(255, 251, 0);
    font-family: 'Press Start 2P', cursive;
    margin-left: 450px;
    margin-bottom: 50px;
    margin-top: 20px;
    width: 400px;
    text-align: center;
    display: block;
}
a:link {
    color: rgb(255, 251, 0);
  }
a:link:hover{
    color: rgb(239, 255, 98);
}
a:visited{
    color: red;
}
a:visited:hover{
    color: rgb(151, 0, 0);
}